=# signed_in_user_web_access
/ Button trigger modal
/ %button.btn.btn-primary.btn-lg{"data-target" => "#myModal", "data-toggle" => "modal"}
/   Registration Form
/ / Modal
/ #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
/   .modal-dialog
/     .modal-content
/       .modal-header
/         %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
/         %h4#myModalLabel.modal-title Player Registration
/       .modal-body
/         = form_for(@player) do |f|
/           .inner-player-form
/             .info-section-participant
/               %div
/                 = f.label :first_name
/                 %br/
/                 = f.text_field :first_name, autofocus: true

/               %div
/                 = f.label :last_name
/                 %br/
/                 = f.text_field :last_name

/               %div
/                 = f.label :address
/                 %br/
/                 = f.text_field :address

/               %div
/                 = f.label :town
/                 %br/
/                 = f.text_field :town

/               %div
/                 = f.label :zip
/                 %br/
/                 = f.text_field :zip

/               %div
/                 = f.label :date_of_birth, 'Date of Birth'
/                 %br/
/                 = f.date_select(:date_of_birth, start_year: Date.today.year - 13, end_year: Date.today.year, :order => [:month, :day, :year])
/             .info-section-parents
/               %div
/                 = f.label :first_name
/                 %br/
/                 = f.text_field :first_name

/               %div
/                 = f.label :last_name
/                 %br/
/                 = f.text_field :last_name


/               .clear
/                 %div
/                   = f.submit
/       .modal-footer
/         %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close

.page-header
  %h1.massive-banner
    = "#{@town} #{@name} #{Date.today.year}"
.power-line-separator
.user-action-panel

- if user_signed_in?
  =# render "schedules/calendar_view"
- else

  %a.general_user_sign_up_btn
    Sign Up
    = form_for(@user, url: new_user_path, html: { id: 'general_sign_up_form'}) do |f|

      %div
        = f.label :first_name
        %br/
        = f.text_field :first_name, :autofocus => true

      %div
        = f.label :last_name
        %br/
        = f.text_field :last_name

      %div
        = f.label :email
        %br/
        = f.text_field :email

      %div
        = f.label :password
        %br/
        = f.password_field :password
      %div
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation

      %div
        = f.submit "Sign up", class: 'default-submit-button'





  #carousel_view
    = render 'carousel'


