.page-header
  %h1.massive-banner
    = "#{@town} #{@name} #{Date.today.year}"
.power-line-separator
.user-action-panel

- if user_signed_in?
  %h3
    User signed in?:
    = user_signed_in?
    %br
    = name
    %br
    = current_user.id
    %br
    = current_user.user_type


  / .ui-widget
  /   %label{for: "tags"} Tags:
  /   %input#tags/

  .power-line-separator
  .show-teams-list
    %h2 Select Team
    - @teams.each do |team|
      %h3
        View:
        = link_to team.title, team_dashboard_path(team)
        |
        = team.division.name

    / %h4 Register Player
    / %button.btn.btn-primary.btn-lg#registr_btn{"data-target" => "#myModal", "data-toggle" => "modal"}
    /   Registration Form
    / = render @player

- else
  %h3
    User signed in?:
    = user_signed_in?

  %a.general_user_sign_up_btn
    Sign Up

    = render @user

  #carousel_view
    = render 'carousel'


