.page-header
.user-action-panel

- if user_signed_in?
  %h3
    = "Hello, #{name} "
    %br
    = user_signin_status

  .power-line-separator
  .show-teams-list
    %h2 Select Team
    - @teams.each do |team|
      = link_to "#{team.title}", team_dashboard_path(team), class: 'team-bucket'


- else #if not signed in...
  %h3
    = user_signin_status

  %a.general_user_sign_up_btn
    .sign-up-text
      Sign Up:
      %br
      Parents

    = render @user

  / TODO: fix carousel
  #carousel_view
    = render 'carousel'


