.page-header
  %h1.massive-banner
    = "#{@town} #{@name} #{Date.today.year}"
.power-line-separator
.user-action-panel

- if user_signed_in?
  %h3
    User signed in?:
    = user_signed_in?

  %h2 Register Player
  %button.btn.btn-primary.btn-lg#registr_btn{"data-target" => "#myModal", "data-toggle" => "modal"}
    Registration Form

    = render @player

  .power-line-separator
  =# render "schedules/calendar_view"

  .show-teams-list
    - @teams.each do |team|
      %div
        = link_to team.title, team_path(team)
        |
        = team.division.name

- else
  %h3
    User signed in?:
    = user_signed_in?

  %a.general_user_sign_up_btn
    Sign Up

    = render @user

  #carousel_view
    = render 'carousel'


