/ Button trigger modal
%button.btn.btn-primary.btn-lg{"data-target" => "#myModal", "data-toggle" => "modal"}
  Register Now


.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4.modal-title Modal title
      .modal-body
        %p One fine body…
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
        %button.btn.btn-primary{type: "button"} Save changes
    / /.modal-content
  / /.modal-dialog
/ /.modal

.page-header
  %h1.massive-banner
    = "#{@town} #{@name}"
.user-action-panel


#carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
  / Indicators
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-wrap" => "false", "data-target" => "#carousel-example-generic"}
    %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
    %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
  / Wrapper for slides
  .carousel-inner
    .item.active
      = image_tag('Football-helmuts.jpg', class: 'website-carousel-image')
      .carousel-caption
        Picture number 1
    .item
      = image_tag('paper4.png')
      .carousel-caption
        Picture number 2


  / Controls
  %a.left.carousel-control{"data-slide" => "prev", href: "#carousel-example-generic"}
    %span.glyphicon.glyphicon-chevron-left
  %a.right.carousel-control{"data-slide" => "next", href: "#carousel-example-generic"}
    %span.glyphicon.glyphicon-chevron-right

