- if @active_team.present?
  .teamBrand.center
    = link_to( image_tag('uniondale knight.png', size: '300x300'), players_path)
    .teamBanner
      %h3= "#{@active_team.title.upcase} Football Team"
      %h5= "#{@active_team.age_group}"
      %p
        Current number of players:
        = @active_team.num_of_players
- else
  %h1= "No team currently active"
