- if !@active_team.blank?
  %h3= "#{@active_team.title.upcase} Football Team : #{@active_team.age_group}"
  %p
    Current number of players:
    = @active_team.num_of_players
- else
  %h1= "No team currently active"
