= form_for(@team, html: {id: "new-team-form"}) do |f|
  = current_user.username
  %div
    = f.label :title
  %div
    = f.text_field :title
  %div
    = f.label :division, 'Division'
  %div
    = f.select(:division, options_for_select(@divisions.collect{ |d| [d,{class: 'some-class'} ]} ))
  %div
    = f.label :num_of_players

  %div
    = f.text_field :num_of_players

  %div
    =f.submit
