= form_for(@team, html: {id: "new-team-form"}) do |f|
  = current_user.username
  %div
    = f.label :division, 'Division'

  %div
  - if (controller_name == 'teams' && action_name == 'new' )
    = f.select(:division, options_for_select(@divisions.collect{ |d| [d,{class: 'division-options'} ]} ))

  - elsif (controller_name == 'teams' && action_name == 'edit')

    = f.select(:division, options_for_select(@divisions.collect{ |d| [d.name,{class: 'division-options'} ]} ))

  %div
    = f.label :head_coach
    / TODO: list current head coach here
  %div
    / this works for team/new
    = f.select(:head_coach, options_for_select(@head_coaches.collect{ |hc| [hc.username, hc.id,{class: 'division-options'} ]} ))

  %div
    = f.label :title
  %div
    = f.text_field :title

  %div
    =f.submit

