%h1
  Teams list

- @teams.each do |team|
  .team
    %div
      Team:
      = team.title
    %div
      Age Group:
      = team.age_group
    %div
      Number of Players:
      = team.num_of_players
    %div
      Active:
      = team.active

    %div
      = link_to "show", team_path(team), class: "btn btn-default"
      |
      = link_to "edit", edit_team_path(team), class: "btn btn-default"
      |
      = link_to "delete", team_path(team), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-default"
%br

#closeAllTeamsView.btn.btn-default Close team list