/ TODO: remove hardcoded youth options once director model and program is created...

= form_for(:team, url: teams_path, remote: true, html: {id: "create_new_team"}) do |f|
  %h4 Start building your team:
  %p
    = f.label :age_group, 'Select age group'
  %p
    = f.select(:age_group, options_for_select([ ['7 Year Olds', 1], ['8 Year Olds', 2], ['9 Year Olds', 3], ['10 Year Olds', 4] ]))
  %p
    = f.label :num_of_players, 'Add initial player count'
  %p
    = number_field_tag(:num_of_players, 11, in: 11..50)
  %br
  = f.submit "create team", id: "create_team_button"