= render 'director_navigation/main_side_panel'

%section#all-teams
  .stat-bar
    %h3.stat-bar-title Program Stats:

    #team-counter
      Total team count:
      = @teams.count
    .plus-minus -

  .team-list-panel
    - if @teams.blank?
      .first-time-intructions
        .show-box
          %h3
            %p To get started, add your first team
            .fat-call-to-action
              = link_to 'Add Team', new_team_path
        .show-box
          %h3
            %p Or, send invites to your staff
            .fat-call-to-action
              = link_to 'Add Staff', users_path
        %h3
          then use the Menu to expand your program

    - else
      - @teams.each do |team|
        .team_pod
          .inner_team_pod
            .pod_title
              %div
                = show_team_name(team)
              %div
                Division:
                = show_teams_division(team)
              %div
                Number of Players:
                = team.num_of_players
            .team_pod_controls
              = link_to 'show', team_path(team)
              |
              = link_to 'edit', edit_team_path(team)
              |
              %a.delete-team-pod
                delete


%section#all-divisions
  .stat-bar
    %h3.stat-bar-title Divisions
    = link_to "add new division", new_division_path


  - @divisions.each do |div|
    .division-pod.show-box
      %h3
        = "#{div.name} Division"
      %div
        = link_to "edit", edit_division_path(div)
        |
        %a.delete-division-pod
          delete








