= render 'director_navigation/main_side_panel'
/ stat bar
%section#all-teams.red_border
  %h2 team view
  %h4
    Program Stats:
    Total team count:
    = @teams.count
    |
    Total player count:


  - @teams.each do |team|
    .team_pod
      .inner_team_pod
        %div
          Division:
          = show_teams_division(team)
        %div
          Number of Players:
          = team.num_of_players
        .team_pod_controls
          = link_to 'show', team_path(team)
          |
          = link_to 'edit', edit_team_path(team)
          |
          %a.delete-team-pod
            delete


%section#all-divisions.red_border
  = link_to "add new division", new_division_path
  %h3 Divisions:

  - @divisions.each do |div|
    .division-pod
      %h3
        = "#{div.name} Division"
      %div
        = link_to "edit", '#'
        |
        = link_to "remove", '#'








