= render 'director_navigation/main_side_panel'

%section#all-teams.red_border
  %h2 team view
  %h4
    Program Stats:
    Total team count:
    = @teams.count
    |
    Total player count:


  - @teams.each do |team|
    .team_pod
      %div
        = image_tag('uniondale knight.png', alt: 'team logo', size: '50x50')
      %div
        Division:
        = team.age_group
      %div
        Number of Players:
        = team.num_of_players

  %h5 TODO:

  %h5 Team - CRUD



%section#all-divisions.red_border

  %h3 Divisions:
  - @divisions.each do |div|
    .division-pod
      %h3
        = div
      %div
        = link_to "add new division", "#"
        |
        = link_to "edit division", '#'
        |
        = link_to "remove division", '#'








