%h1 Teams list


- @teams.each do |team|
  %div
    Team:
    = team.title
  %div
    Age Group:
    = team.age_group
  %div
    Number of Players:
    = team.num_of_players
  %div
    = link_to "show", "#"
    |
    = link_to "edit", "#"
    |
    = link_to "delete", "#"

