= render 'director_navigation/main_side_panel'

%section#all-teams.red_border
  .stat-bar
    %h4
      Program Stats:
    #team-counter
      Total team count:
      = @teams.count
    .plus-minus -


  .team-list-panel
    - @teams.each do |team|
      .team_pod
        .inner_team_pod
          .pod_title
            %div
              - if team.title.blank?
                Name: * none *
              - else
                Name:
                = team.title
            %div
              Division:
              = show_teams_division(team)
            %div
              Number of Players:
              = team.num_of_players
          .team_pod_controls
            = link_to 'show', team_path(team)
            |
            = link_to 'edit', edit_team_path(team)
            |
            %a.delete-team-pod
              delete


%section#all-divisions.red_border
  = link_to "add new division", new_division_path
  %h3 Divisions:

  - @divisions.each do |div|
    .division-pod
      %h3
        = "#{div.name} Division"
      %div
        = link_to "edit", edit_division_path(div)
        |
        %a.delete-division-pod
          delete








