%div
  = link_to 'team manager', team_manager_path

%h1= "team: #{} "

%h3 Name:
%div
  = @active_team.title

%h3 Age group:
%div
  = @active_team.age_group

%h3 Players on team:
%div
  = @active_team.num_of_players
