%h1= "#{team_name(@team)} dashboard"

%section.control-panel
  .message_panel
    .message_panel_header
      Messages


  .account_panel
    .account_panel_header
      Account Status
    .view-payments
    .current-status


%section.player-view_master
  - @players.each do |player|
    .player-card-mini
      .stars-top
        - 4.times do
          %span
            %i.fa.fa-star
      .inner-card
        = display_mini_player_image(player)
      .card_info-mini

        .player_name_mini
          .player-banner-stitches-top-mini
            = player.first_name
            = player.last_name
          .player-banner-stitches-bottom-mini

      .stars-bottom-mini
        - 4.times do
          %span
            %i.fa.fa-star

%section.team_calendar_view
  = render "schedules/calendar_view"












