= render 'layouts/nav_controls'

%section#currentTeam
  - if @active_team.present?
    .conceal-players
      %span#close.back â† close
    %br/
    %ul#tp-grid.tp-grid
      .teamBanner
      -# if @players > 0
      = "#{@active_team.title.upcase} Football Team"
      - @players.each do |player|
        -# if player.id == @players.last.id
        %li{"data-pile" => "#{@active_team.title.upcase} Football Team" }
          %span.tp-info
            %span= "#{@active_team.title.upcase} Football Team"
          = image_tag('uniondale knight.png', size: '300')

  - else
    %h1= "No team currently assigned"

