%h1= "#{team_name(@team)} dashboard"

%section.control-panel
  .message_panel
    .message_panel_header
      Messages


  .account_panel
    .account_panel_header
      Account Status
    .season-header
      = "#{Date.today.year}"
    .view-payments-controls
      #view-payment-btn{class: "btn btn-info btn-xs"} view payments

    .current-status

      %p= "Balance: #{number_to_currency( formatted_fee )}"
      .view-payment-details
        = @payments[:date].strftime( '%D' )
        %span ......
        = number_to_currency( @payments[:amount] )

    .make-payment-header Make Payment
    .payment-panel


      = form_tag charges_path do
        %article
          %label.amount
            %span
              Amount:
              = number_to_currency( formatted_fee )
        %script.stripe-button{"data-amount" => "#{ @fee }", "data-description" => "A month's subscription", "data-key" => Rails.configuration.stripe[:publishable_key], src: "https://checkout.stripe.com/checkout.js"}



-# if current_user.hasActiveAccount?
%section.player-view_master
  - @players.each do |player|
    .player-card-mini
      .stars-top
        - 4.times do
          %span
            %i.fa.fa-star
      .inner-card
        = display_mini_player_image(player)
      .card_info-mini

        .player_name_mini
          .player-banner-stitches-top-mini
            = player.first_name
            = player.last_name
          .player-banner-stitches-bottom-mini

      .stars-bottom-mini
        - 4.times do
          %span
            %i.fa.fa-star

%section.team_calendar_view
  %h3 Schedule
  = render "schedules/calendar_view"

/ - else
/   %section.minimal-access
/     %h1
/       Full Access is granted once a payment
/       has been made on the account.











