= render 'layouts/nav_controls'

%section#currentTeam
  - if @active_team.present?
    .conceal-players
      %span#close.back â† close
    %br/
    %ul#tp-grid.tp-grid
      .teamBanner
      - @players.each do |player|
        - if player.id == @players.last.id
          %li{"data-pile" => "#{@active_team.title.upcase} Football Team" }
            %span.tp-info
              %span= "#{@active_team.title.upcase} Football Team"
            = image_tag('uniondale knight.png', size: '300')
        - else
          %li{"data-pile" => "#{@active_team.title.upcase} Football Team" }
            %a{href: player_path(player.id)}
              %span.tp-info
                %span= "#{player.first_name} #{player.last_name}"
              = image_tag('helmet.png', size: '170')
  - else
    %h1= "No team currently active"
