///////  COACHES DASHBOARD  /////////
%header
  %h2
    = "Welcome #{@current_user.email} to the Dashboard"

%section#sideControls

  #addNewTeamButton Create New Team
  %br

  #allTeamsButton View All Teams
  %br

  = link_to "Add New Player", new_player_path, class: "control_button"

.clear

%section#addNewTeam
  = render "teams/new"

%section#current_team_container
  = render "teams/active"

%section#viewAllTeams
  %br
  = render "teams/index"



