- if current_user.has_role?('head_coach')
  .content-container
    .row
      %section#top_third

        %h2= current_user.username

    .row#middle_third
      %h2 Dashboard buttons
      .col-md-3.col-xs-6
        .outer-rink
          = link_to 'team manager', team_manager_path, class: 'manager-button'
      .col-md-3.col-xs-6
        .outer-rink

          = link_to 'schedule manager', schedule_manager_path, class: 'manager-button'
          .dash-btn-image
            %i.fa.fa-calendar.fa-5x
      .col-md-3.col-xs-6
        .outer-rink
          = link_to 'office manager', office_manager_path, class: 'manager-button'
          .dash-btn-image
            %i.fa.fa-clipboard.fa-5x

      .col-md-3.col-xs-6
        .outer-rink
          = link_to 'coaches\' corner', coaches_corner_path, class: 'manager-button'

    .row
      %section#bottom_third

        %h2 new icon-bar

- elsif current_user.has_role? 'director'
  #director-dashboard-ready
    #first_level
    .hi-icon-wrap.hi-icon-effect-8
      %h3
        = link_to 'teams', teams_path, class: 'action-tile'
      %h3
        = link_to 'staff', users_path, class: 'action-tile'
      %h3
        = link_to 'program info', programs_path, class: 'action-tile'
      %h3
        = link_to 'events', events_path, class: 'action-tile'
      %h3
        = link_to 'sponsors', '#', class: 'action-tile not-yet-implemented'
      %h3
        = link_to 'merchandising', '#', class: 'action-tile not-yet-implemented'
      %h3
        = link_to 'inventory', '#', class: 'action-tile not-yet-implemented'
      %h3
        = link_to 'admin', '#', class: 'action-tile not-yet-implemented'
      %h3
        = link_to 'website', '#', class: 'action-tile not-yet-implemented'




