- if current_user.has_role?('head_coach')
  .content-container
    .row
      %section#top_third
        .todays_date
          = display_todays_date
        %h3
          = "Welcome coach #{current_user.first_name.capitalize}'s to your dashboard"
    .power-line-separator
    .row#middle_third
      .col-md-3.col-xs-6
        .outer-rink
          = link_to team_manager_path, class: "manager-button" do
            .dash-btn-image
              %i.fa.fa-clipboard.fa-5x
            .link-text team manager

      - unless current_user.teams.blank?
        .col-md-3.col-xs-6
          .outer-rink
            = link_to schedule_manager_path, class: "manager-button" do
              .dash-btn-image
                %i.fa.fa-calendar.fa-5x
              .link-text schedule manager

      .col-md-3.col-xs-6
        .outer-rink
          = link_to office_manager_path, class: "manager-button" do
            .dash-btn-image
              %i.fa.fa-clipboard.fa-5x
            .link-text office manager
      .col-md-3.col-xs-6
        .outer-rink
          = link_to coaches_corner_path, class: "manager-button" do
            .dash-btn-image
              %i.fa.fa-clipboard.fa-5x
            .link-text coaches' corner

    .power-line-separator
    .row
      %section#bottom_third

- elsif current_user.has_role? "master"
  #director-dashboard-ready
    #first_level
    .hi-icon-wrap.hi-icon-effect-8
      / %h3
      /   = link_to 'teams', teams_path, class: 'action-tile'
      / %h3
      /   = link_to 'staff', users_path, class: 'action-tile'
      / %h3
      /   = link_to 'program info', programs_path, class: 'action-tile'
      / %h3
      /   = link_to 'events', events_path, class: 'action-tile'
      / %h3
      /   = link_to 'sponsors', sponsors_path, class: 'action-tile'
      / %h3
      /   = link_to 'merchandising', merchandise_index_path, class: 'action-tile'
      / %h3
      /   = link_to 'inventory', inventory_index_path, class: 'action-tile'
      / %h3
      /   - if current_user.program.nil?
      /     = link_to 'website', dashboard_path, class: 'action-tile'
      /   - else
      /     = link_to 'website', website_path(@website), class: 'action-tile'





