.form-pointer-default
= form_for @opponent, html: {class: 'opponent-forms'} do |f|
  = hidden_field_tag(:program_id, @program_id)
  .inner-form-wrapper
    %div
      = f.label :name
    %div
      = f.text_field :name

    %div
      = f.label :location, "add location"
    %div
      = f.text_area :location

    %div
      = f.submit id: "submit-new-opponent", class: 'default-submit-button'