.location-container
  %h2
    = "#{@opponent.name.upcase} Football"
  %h2
    = @opponent.street
  %h2
    = "#{@opponent.town}, #{@opponent.zip}"
  %h4
    %p Additional Notes:
    .additional-info
      = @opponent.notes

.map-container
  = image_tag "http://maps.google.com/maps/api/staticmap?size=430x305&sensor=false&zoom=16&markers=#{@opponent.latitude}%2C#{@opponent.longitude}", class: "map-box"
