%div
  = render 'layouts/nav_controls'

%section.opponent
  .stat-bar
    %h3.stat-bar-title
      = "#{@opponent.name}"
    = link_to "edit", edit_opponent_path, class: 'btn btn-success button-float'
    = link_to "delete", opponent_path, method: :delete, class: 'btn btn-danger button-float'

  = render partial: 'opponent_information'

