%section#on-page-nav
  %nav.inner-nav-links
    = link_to 'team', dashboard_path, class: 'mini-manager-buttons'
    = link_to 'staff', team_manager_path, class: 'mini-manager-buttons'
    = link_to 'program info', schedule_manager_path, class: 'mini-manager-buttons'
    = link_to 'events', office_manager_path, class: 'mini-manager-buttons'
    = link_to 'sponsors', coaches_corner_path, class: 'mini-manager-buttons'
    = link_to 'merchandising', coaches_corner_path, class: 'mini-manager-buttons'
    = link_to 'inventory', coaches_corner_path, class: 'mini-manager-buttons'
    = link_to 'admin', coaches_corner_path, class: 'mini-manager-buttons'
    = link_to 'website', coaches_corner_path, class: 'mini-manager-buttons'
