%h1 Edit Program Info
.form-pointer-default
= form_for(@program, html: {class: 'default-form-template'}) do |f|
  %div
    = f.label :team_name
    %br/
    = f.text_field :team_name

  %div
    = f.label :town_name
    %br/
    = f.text_field :town_name

  %div
    = f.label :town_name
    %br/
    = f.text_field :town_name
    %br/
  %div
    = f.submit class: 'default-submit-button'