= render 'director_navigation/main_side_panel'

%section#program-contents
  %section.program-section
    .program-section-wrapper
      %h3.section-header
        Program Control Panel
      #program-button-wrapper

        #edit_program-info{class: 'btn btn-success bigger-text power-button'}
          Edit Program Info
        %br
        #add-logo-button{class: 'btn btn-primary bigger-text power-button'}
          Update Team Logo
        %br
        #program-fee-button{class: 'btn btn-success bigger-text power-button'} Set Program Fee
        %br
        #reset-season{class: 'btn btn-danger bigger-text power-button'}   Reset & Start New Season

      .program-form-action-wrapper
        #fee-form
          = form_for(@program, html: {id: 'program-fee-form'}) do |f|

            %h3#current-fee
              = "Program Fee is currently"
              %span
                = number_to_currency( @fee )
            = f.label :fee
            = f.select(:fee, options_for_select( @price_range) )
            %a#submit-program-fee Set Price


        = form_for( @program, html: {:class => 'default-form-template', id: 'logo-form', :multipart => true} ) do |f|
          %h3#logo-button Update Logo
          %div
            .logo-border
              - if @program.logo_image_updated_at.nil?
                %h2 Please upload a logo
              - else
                = display_team_logo(:square)
          %div
            = f.label :logo_image, 'Select Image'
            %br/
          %div
            = f.file_field :logo_image
            %br/
          %div
            %br/
            = f.submit "upload Logo"
          %br/

        = form_for(@program, html: {class: 'default-form-template', id: 'edit-program-form'}) do |f|
          %h3 Edit Program Info
          %div
            = f.label :team_name
            %br/
            = f.text_field :team_name

          %div
            = f.label :town_name
            %br/
            = f.text_field :town_name
          %div
            %a#edit-form-button.default-submit-button
              Update Program


