= render 'director_navigation/main_side_panel'

%section#program-contents
  %section.program-section
    %h3
      Program:
      %span= full_team_name
    %br

    = link_to "Edit Program Info", edit_program_path(@program.id), class: 'btn btn-success btn-jg btn-block bigger-text'
    = link_to "Add Team Logo", logo_path(@program.id), class: 'btn btn-primary btn-jg btn-block bigger-text'

    #program-fee-button{class: 'btn btn-success btn-jg btn-block      bigger-text'} Set Program Fee

    #reset-season{class: 'btn btn-danger btn-jg btn-block bigger-text'} Reset & Start New Season

  %section.program-section
    #form-box
      %h3 Form Box
      #fee-form
        Program Fee
        = form_for(@program, html: {id: 'program-fee-form'}) do |f|
          = f.label :fee
          = f.select(:fee, options_for_select( @price_range) )
          %a#submit-program-fee Set Price

  %section.program-section
    %h3 Board members:
  %section.program-section
    %h3 Founders:
    %h4 CRUD List founders here





