= render 'director_navigation/main_side_panel'

%section#program-contents
  %section.program-section
    %h3
      Program:
      %span= full_team_name
    %br

    = link_to "Edit Team Info", '#', class: 'btn btn-warning'
    = link_to "Add Team Logo", logo_path(@programs.id), class: 'btn btn-warning'



  %section.program-section
    = display_team_logo(:thumb)

    %h3 Divisions:
    %h4 List all divisions here


  %section.program-section
    %h3 Board members:
    = display_team_logo(:thumb)
  %section.program-section
    %h3 Founders:
    %h4 CRUD List founders here





