%h1= "Welcome Director #{current_user.username}"

%h2 Step 1: Name your football program
= form_for(@program, url: programs_path) do |f|
  = hidden_field_tag(:user_id, current_user.id)
  %div
    = f.label :town_name
    %br/
    = f.text_field :town_name
  %div
    = f.label :team_name
    %br/
    = f.text_field :team_name
  %div
    = f.label :league_name
    %br/
    = f.text_field :league_name

  %div
    = f.submit

=# link_to "Not the Program Director? ....click HERE", '#'
