%header.form-header
  %h1#step1
    STEP 1:
    %span Setup your football program
  = form_for(@program, url: programs_path, autocomplete: "off", html: {class: 'simform', id: 'theForm'} ) do |f|
    = hidden_field_tag(:user_id, current_user.id)
    .simform-inner
      %ol.questions
        %li
          %span
            = f.label :town_name, "What's your town name?"
          = f.text_field :town_name
        %li
          %span
            = f.label :team_name, "What's your team name?"
          = f.text_field :team_name
        %li
          %span
            = f.label :league_name, "What league do you belong to?"
          = f.text_field :league_name
      .controls
        %button.next
        .progress
        %span.number
          %span.number-current
          %span.number-total
        %span.error-message
        .press_enter_msg
          %span Please press enter to continue

    %span.final-message


