= form_for @user do |f|

  %div
    = f.label :first_name
    %br/
    = f.text_field :first_name, :autofocus => true

  %div
    = f.label :last_name
    %br/
    = f.text_field :last_name

  %div
    = f.label :username
    %br/
    = f.text_field :username

  %div
    = f.label :email
    %br/
    = f.text_field :email

  %div
    = f.submit