%section#user-content.white-out

  %h1 Staff
  %p
    = "User count #{@users.count}"
    %br/

  %h4 Coaches
  %section#coach-tile-panel.user-section
    %header#coaches

      %a.btn.btn-warning#coach-invite-button
        Grant Coaching Access

    #coach-invite-form
      = form_tag(send_access_code_path) do
        = hidden_field_tag(:user_type, "head_coach")
        .form-field
          = label_tag :email
        .form-field
          = text_field_tag :email
        .form-field
          = submit_tag "Send coaching invite"

    #coaches-grid
      - @head_coaches.each do |coach|
        .coach-tile
          = coach.username

  %section.user-section
    %h3 Staff:
    %h4 Staff CRUD links

  / %section.user-section
  /   %h3 General public:
  /   %h4 CRUD List all board members here

  / %section.user-section
  /   %h3 Founders:
  /   %h4 CRUD List founders here
