%div
  = render 'layouts/nav_controls'

.show-user-box
  .form-field
    = "First Name: #{@user.first_name}"
  .form-field
    = "Last Name: #{@user.last_name}"
  .form-field
    = "Email:  #{@user.email}"
  .form-field
    = link_to 'edit info', edit_user_path(@user)
    |
    %a.delete-staff
      delete

