= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  - params[:key] ? key = params[:key].split('-')[1] : nil
  - unless key == "7403214027" || key == "1819055"
    %div
      To establish a new program, click here
      = f.radio_button :user_type, "director"
      = f.label :user_director, "Director"

  - if key == "7403214027"  #then they received an invite to join as a coach
    = hidden_field_tag(:access, params[:key])
    %h1  New Coach Sign Up
    = render partial: 'registrations/form', locals: {f: f}

  - elsif key == "1819055"    #then they received an invite to join as gen. staff
    = hidden_field_tag(:access, params[:key])
    %h1  New Staff Sign Up
    = render partial: 'registrations/form', locals: {f: f}


  - else                        #they are signing up as normal
    %h1 Sign up
    = render partial: 'registrations/form', locals: {f: f}

  = render "devise/shared/links"