%h2 Sign up

= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  - params[:key] ? key = params[:key].split('-')[1] : nil
  - unless key == "7403214027"
    %div
      To establish a new program, click here
      = f.radio_button :user_type, "director"
      = f.label :user_director, "Director"

  - if key == "7403214027"                #then they recvd an invite to coach
    = hidden_field_tag(:access, params[:key])
    %h4  New Coach Sign Up
    = render partial: 'registrations/form', locals: {f: f}

  - else                                  #they are signing up as normal
    = render partial: 'registrations/form', locals: {f: f}

  = render "devise/shared/links"