%header.form-header
  %h1#step2
    %span Add divisions to your program
  = form_for(@division, url: divisions_path, autocomplete: "off", html: {class: 'simform', id: 'theForm'} ) do |f|
    = hidden_field_tag(:program_id, @program_id)
    = hidden_field_tag(:form_name, "add-division")
    .simform-inner
      %ol.questions
        %li
          %span
            = f.label :name, "What's the name of the division?"
          = f.text_field :name, placeholder: 'e.g. 9 Year Olds'
        %li
          %span
            = f.label :age_group, "What's the age group?"
          = f.text_field :age_group, placeholder: 'e.g. 9 or 10 - 11'
        %li
          %span
            = f.label :weight_class, "and the weight class?"
          = f.text_field :weight_class

      .controls
        %button.next.fa.fa-arrow-circle-right.fa-2x
        .progress
        %span.number
          %span.number-current
          %span.number-total
        %span.error-message
        .press_enter_msg
          %span Please press enter
          %em or
          %span
            %i.fa.fa-arrow-circle-right
          %span to continue

    %span.final-message
