= render 'layouts/nav_controls'
%h2 Schedule Manager
#schedule-controls
  #add-practice.btn.btn-success add Event
  .form-wrapper
    .form-pointer
    = form_tag schedules_path, class: 'schedule-forms' do
      = hidden_field_tag(:team_id, current_user.teams.first.id)

      %div
        = label_tag :entry_type, 'Type'
      %div
        = select_tag(:entry_type, options_for_select([ ['practice', 1], ['game', 2] , ['other', 3] ]))
      %div
        = label_tag :date
      %div
        = text_field_tag :date, nil, id: "schedule-picker"

      %div
        = label_tag :time
      %div
        = text_field_tag :time

      .submit-schedule Add to Calendar


  / #add-game add a Game

#schedule-manager

  %h2#month
    = link_to "<", date: @date.prev_month
    = @date.strftime("%B %Y")
    = link_to ">", date: @date.next_month
  = calendar @date do |date|
    = date.day
    - if @appointments_by_date[date.to_datetime]
      %ul
        - @appointments_by_date[date].each do |appointment|










