= render 'layouts/nav_controls'
%h2 Schedule Manager
#schedule-controls
  #add-practice.btn.btn-success add Event
  .form-wrapper
    .form-pointer
    = form_tag '/schedule', class: 'schedule-forms' do
      = hidden_field_tag(:team_id, current_user.teams.first.id)
      %div
        = select_tag(:schedule, options_for_select(@event_types.collect{ |d| [d,{class: 'dropdown-options'} ]} ))

      %div
        = label_tag :date
      %div
        = text_field_tag :date

      %div
        = label_tag :time
      %div
        = text_field_tag :time

      .submit-schedule Add to Calendar


  / #add-game add a Game

#schedule-manager

  %h2#month
    = link_to "<", date: @date.prev_month
    = @date.strftime("%B %Y")
    = link_to ">", date: @date.next_month
  = calendar @date do |date|
    = date.day
    / - if @appointments_by_date[date.to_datetime]
    /   %ul
    /     - @appointments_by_date[date].each do |appointment|
    /       %li= link_to appointment.client_name, appointment_path(appointment.id)