%body#top
  %header#home
    %section#hero.hero
      .container
        .row#hero-intro
          .col-md-8.col-md-offset-2.text-center.inner
            %h1.animated.fadeInDown
              4TH and INCHES
              %span Program Manager
            %p.animated.fadeInUp.delay-05s
              The complete tool to manage your youth football program

  %section.text-center
    .container
      .row
        .col-md-12
          %h1.arrow Features


  %section.text-center
    .container
      .row
        .col-md-12
          #benefit-container
            .benefit_description.animated.fadeInUp.delay-05s
              .header
                %h3 Amazing Benefit #1
                = image_tag('youth-football-coachup.jpg', class: "col-md-12" )
                %p
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            .benefit_description.animated.fadeInUp.delay-1s
              .header
                %h3 Amazing Benefit #2
                = image_tag('youth-football-coachup.jpg', class: "col-md-12" )
                %p
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            .benefit_description.animated.fadeInUp.delay-15s
              .header
                %h3 Amazing Benefit #3
                = image_tag('youth-football-coachup.jpg', class: "col-md-12" )
                %p
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            .benefit_description
              .header
                %h3 Amazing Benefit #4
                = image_tag('youth-football-runout.jpg', class: "col-md-12" )
                %p
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            .benefit_description
              .header
                %h3 Amazing Benefit #5
                = image_tag('youth-football-runout.jpg', class: "col-md-12" )
                %p
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            .benefit_description
              .header
                %h3 Amazing Benefit #6
                = image_tag('youth-football-runout.jpg', class: "col-md-12" )
                %p
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  .power-line-separator-thick
  %section.text-center
    .container
      .row
        .col-md-12
          %h1.arrow We're a team that adore what we do

  %section.text-center
    .container
      .row
        .col-md-12
          #benefit-container
            .benefit_box
              = image_tag('team-02.png', class: "col-md-12" )
              %h3 Experienced Coaches
            .benefit_box
              = image_tag('team-01.png', class: "col-md-12" )
              %h3 Experienced Coaches
            .benefit_box
              = image_tag('team-03.png', class: "col-md-12" )
              %h3 Experienced Coaches

  .power-line-separator-thick
  %section.text-center
    .container
      .row
        .col-md-12
          %h1.arrow Section blurb

  %section.text-center
    .container
      .row
        .col-md-12
          #benefit-container
            %p.bigger-text
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
