.nav-bar
  #bt-menu.bt-menu
    %a.bt-menu-trigger{href: "#"}
      %p Menu
      %span Menu
    %ul#team-side-panel-list
      %li
        = link_to_unless_current "dashboard", dashboard_path
      %li
        /...allow for slideToggle
        %a{ id: 'add-team-button'} teams
      %li.team-action-sublist
        = link_to 'add new team', new_team_path, id: 'new-team-side-link'
      %li
        /...allow for slideToggle
        %a{ id: 'player-button'} Players
      %li.player-action-sublist
        = link_to 'add new player', new_player_path, id: 'new-player-side-link'
      %li
        = link_to "staff", users_path
      %li
        = link_to "program info", programs_path
      %li
        = link_to "events", events_path
      %li
        = link_to "sponsors", sponsors_path
      %li
        = link_to "merchandiser", merchandise_index_path
      %li
        = link_to "inventory", inventory_index_path
      %li
        = link_to "admin", events_path
      %li
        = link_to "website", events_path
