%header.form-header
  %h1#step1
    %span New Coach Sign Up
  = form_for(@coach, url: coaches_path, html: {class: '', id: 'theForm'} ) do |f|
    = hidden_field_tag(:access, params[:key])
    %div
      = f.label :first_name
      %br/
      = f.text_field :first_name, :autofocus => true

    %div
      = f.label :last_name
      %br/
      = f.text_field :last_name

    %div
      = f.label :username
      %br/
      = f.text_field :username

    %div
      = f.submit "Sign up"
