.form-pointer-default
= form_for(@player, html: {class: 'default-form-template'}) do |f|
  - unless current_user.user_type == 'director'
    = hidden_field_tag(:team_id, @active_team.id)
  .inner-player-form
    .info-section
      %div
        = f.label :first_name
        %br/
        = f.text_field :first_name, autofocus: true

      %div
        = f.label :last_name
        %br/
        = f.text_field :last_name

      %div
        = f.label :address
        %br/
        = f.text_field :address

      %div
        = f.label :town
        %br/
        = f.text_field :town

      %div
        = f.label :zip
        %br/
        = f.text_field :zip

      %div
        = f.label :date_of_birth, 'Date of Birth'
        %br/
        = f.date_select(:date_of_birth, start_year: Date.today.year - 13, end_year: Date.today.year, :order => [:month, :day, :year])


    %div
      = f.submit class: 'default-submit-button'



