/ User created player form form signed in parent user
= form_for(@player, html: {class: 'general_sign_up_form', id: 'website_channeled_player'}) do |f|
  = hidden_field_tag(:program_id, @team.program.websites.first.id)
  = hidden_field_tag(:parent_id, current_user.id)
  .inner-player-form
    %p= "Is this the first year with #{@town}? "
    #player_registered
      = f.radio_button :is_registered, "Yes"
      = f.label :is_registered, "Yes"
      |
      = f.radio_button :is_registered, "No"
      = f.label :is_registered, "No"
    #new-player
      %div
        = f.label :first_name
        %br/
        = f.text_field :first_name, autofocus: true

      %div
        = f.label :last_name
        %br/
        = f.text_field :last_name

      %div
        = f.label :address
        %br/
        = f.text_field :address

      %div
        = f.label :town
        %br/
        = f.text_field :town

      %div
        = f.label :zip
        %br/
        = f.text_field :zip

      %div
        = f.label :date_of_birth, 'Date of Birth'
        %br/
        = f.date_select(:date_of_birth, start_year: Date.today.year - 13, end_year: Date.today.year, :order => [:month, :day, :year])
    #search-players
      .ui-widget
        %label{for: "tags"} Tags:
        %input#tags/
    .clear
      %div
        = f.submit class: 'default-submit-button'