%table.all-players
  #table-header All Players List
  %tr
    %th First Name
    %th Last Name
    %th Address
    %th Age
  - @all_players.each do |player|
    %tr
      %td
        = player.first_name
      %td
        = player.last_name
      %td
        = "#{player.address}, #{player.town}, #{player.zip}"
      %td
        = "#{player.age}"

