= render 'layouts/nav_controls'

.player-card
  .stars-top
    - 5.times do
      %span
        %i.fa.fa-star
  .inner-card
    = image_tag('mateo-football.png',class: 'player-image' )
  .card_info

    .player_name
      .player-banner-stitches-top
        = @player.first_name
        = @player.last_name
      .player-banner-stitches-bottom

    .trading-card-team-banner
      .ribbon
        .ribbon-stitches-top
        %strong.ribbon-content
          %h1= full_team_name
        .ribbon-stitches-bottom
  .stars-bottom
    - 5.times do
      %span
        %i.fa.fa-star

.player-stats
  .player-stat-panel
    .name
      = @player.first_name
      = @player.last_name
    .street
      = @player.address
    .town
      = @player.town
      %span , NY
    .zip
      = @player.zip
    .birth_day
      Born:
      = @player.dob
    .age
      Age:
      = @player.age



