////////////// Version 1.0
/ = link_to "back to dashboard", dashboard_path

%div
name:
= @player.first_name
= @player.last_name

%div
address:
= @player.address

%div

town:
= @player.town

%div
zip:
= @player.zip

%div
Age:
= @player.age
