= render 'layouts/nav_controls'

.player-card
  .stars-top
    - 5.times do
      %span
        %i.fa.fa-star
  .inner-card
    - if @player.avatar_updated_at.nil?
      Please upload a photo
    = display_player_image(@player)
  .card_info

    .player_name
      .player-banner-stitches-top
        = @player.first_name
        = @player.last_name
      .player-banner-stitches-bottom

    .trading-card-team-banner
      .ribbon
        .ribbon-stitches-top
        %strong.ribbon-content
          %h1= full_team_name
        .ribbon-stitches-bottom
  .stars-bottom
    - 5.times do
      %span
        %i.fa.fa-star

.player-stats
  .player-stat-panel
    .player_name
      .player-banner-stitches-top
        Player Stats
      .player-banner-stitches-bottom
    .name
      = @player.first_name
      = @player.last_name
    .street
      = @player.address
    .town
      = @player.town
      %span , NY
      = @player.zip
    .power-line-separator

    .birth_day
      Born:
      = display_born_on(@player)
      =# @player.date_of_birth.strftime('%B %d, %Y')
    .age
      Age:
      = @player.age
      %br/
      = link_to "edit player info", edit_player_path(@player), class: 'btn btn-warning'


    .photo-section
      = form_for @player, :url => player_path(@player.id), :html => { :multipart => true } do |f|

        .player-avatar-label
          .player_name
            .player-banner-stitches-top
              = f.label :avatar, 'Select Player Image'
            .player-banner-stitches-bottom
          %br/
        %div
          = f.file_field :avatar
        %div
          %br/
          = f.submit "Add Player Image"
        %br/


