%nav.navbar.navbar-default{role: "navigation"}
  .container-fluid
  - if current_user.program_id.nil?
    / TODO: redirect in controller once director can issue key for head coach access
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
      %header.navbar-title
        .navbar-brand
          = image_tag('mock_logo.png', alt: 'team logo', size: '50x50')
        %h3
          = "Your team name will go here"
          %span

        = render 'layouts/user_access_controls'
  - else
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
      %header.navbar-title
        .navbar-brand
          = image_tag('uniondale knight.png', alt: 'team logo', size: '50x50')
        %h1
          = display_team_title

        = render 'layouts/user_access_controls'
