%nav.navbar.navbar-default{role: "navigation"}
  .container-fluid
  - if current_user.program_id.nil?
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
      %header.navbar-title
        .navbar-brand
          / Show no Logo
        %h3
          = "Your team name will go here"
          %span

        = render 'layouts/user_access_controls'
  - else
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
      %header.navbar-title
        .navbar-brand
          = display_team_logo(:mini)
        %h1
          = display_team_title

        = render 'layouts/user_access_controls'

