%section#on-page-nav
  %nav.inner-nav-links
    = link_to_unless_current 'dashboard', dashboard_path, class: 'mini-manager-buttons'
    = link_to_unless_current 'team', team_manager_path, class: 'mini-manager-buttons'
    = link_to_unless_current 'schedule', schedule_manager_path, class: 'mini-manager-buttons'
    = link_to_unless_current 'office', office_manager_path, class: 'mini-manager-buttons'
    = link_to_unless_current 'coaches', coaches_corner_path, class: 'mini-manager-buttons'
