#on-page-nav
  .row
    .col-md-3
      = link_to 'dashboard', dashboard_path, class: 'mini-manager-buttons'
    .col-md-3
      = link_to 'team', team_manager_path, class: 'mini-manager-buttons'
    .col-md-3
      = link_to 'schedule', schedule_manager_path, class: 'mini-manager-buttons'
    .col-md-3
      = link_to 'office', office_manager_path, class: 'mini-manager-buttons'
    .col-md-3
      = link_to 'coaches', coaches_corner_path, class: 'mini-manager-buttons'