.nav-bar
  #bt-menu.bt-menu
    %a.bt-menu-trigger{href: "#"}
      %p Menu
      %span Menu
    %ul#team-side-panel-list
      %li
        = link_to_unless_current "dashboard", dashboard_path
      %li
        %a{ id: 'team-mgr-button'} team manager
      %li
        %a{ id: 'tm-player-button'} Players
      %li.player-action-sublist
        = link_to 'add new player', new_player_path, class: 'new-player-side-link'
      %li
        = link_to "schedule manager", schedule_manager_path
      %li
        = link_to "office manager", office_manager_path
      %li
        = link_to "coaches' corner", coaches_corner_path

