.nav-bar
  #bt-menu.bt-menu
    %a.bt-menu-trigger{href: "#"}
      %p Menu
      %span Menu
    %ul#team-side-panel-list
      %li
        = link_to_unless_current "dashboard", dashboard_path
      %li
        = link_to "team manager", '#', disabled: true
      %li.team-action-sublist
        = link_to 'add new team', new_team_path, id: 'new-team-side-link'
      %li.team-action-sublist
        = link_to 'Edit', edit_team_path(@active_team), id: 'edit-team-side-link'
      %li
        = link_to "schedule manager", schedule_manager_path
      %li
        = link_to "office manager", office_manager_path
      %li
        = link_to "coaches' corner", '#'