!!!
%html
  %head
    %title FourthAndInches
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true

    = csrf_meta_tags

  %body{:class => "#{controller_name} #{action_name}"}
    :javascript
      Ajaxify.init( {   scroll_to_top: false } );

    =# nav_view_by_login_status

    - if user_signed_in?
      = render 'layouts/interior_nav_bar'
    - else
      = render 'layouts/exterior_nav_bar'

    .app-container

      #flash_messages
        - if !flash[:notice].blank?
          .notice
            = flash[:notice]
      .container

        = change_navigation_layout(controller_name, action_name)
        = render 'layouts/footer_nav_panel'
        #main
          = yield


    - if user_signed_in?
      %script{src: "assets/classie.js"}
      %script{src: "assets/borderMenu.js"}


