!!!
%html
  %head
    %title FourthAndInches
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    - current_user
    = render 'layouts/top_nav_bar', :locals => {current_user: @current_user}
    .container
      = nav_view_by_login_status

      - if !flash[:notice].blank?
        .notice
          = flash[:notice]

      #app_sign_in
        = render 'devise/registration'
        |
        = render 'devise/login'

      = yield

  %script{src: "assets/classie.js"}
  %script{src: "assets/borderMenu.js"}


