!!!
%html
  %head
    %title FourthAndInches
    %meta{charset:"utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body{:class => "#{controller_name} #{action_name}"}
    :javascript
      Ajaxify.init( { active: false, scroll_to_top: false, flash_types: ['notice', 'error'] } );

    .app_nav_bar.white-out
      = nav_view_by_login_status
    = show_banner_on_website_view_only(controller_name, action_name, @town, @name)

    .app-container
      = render 'layouts/flash_messaging'

      #app-content
        = coach_side_navigation(controller_name, action_name)
      #main

        = yield
      =# render 'layouts/footer_nav_panel'


  - if user_signed_in?
    %script{src: "assets/borderMenu.js"}


