!!!
%html
  %head
    %title FourthAndInches
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = render 'layouts/navigation'
    - if !flash[:notice].blank?
      .notice
        = flash[:notice]

    .app_sign_in
      = render 'devise/registration'
      |
      = render 'devise/login'

    = yield


