!!!
%html
  %head
    %title FourthAndInches
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    / = javascript_include_tag "classie.js"
    / = javascript_include_tag "borderMenu.js"

    = csrf_meta_tags

  %body{:class => "#{controller_name} #{action_name}"}
    :javascript
      Ajaxify.init( { active: false, scroll_to_top: false, flash_types: ['notice'] } );

    / .app_nav_bar
    /   = nav_view_by_login_status

    .app-container-director
      #app-content-director.container

        #main.director-view
          = yield
        / .line-separation
  /       = render 'layouts/footer_nav_panel'

  / - if user_signed_in?
  /   %script{src: "assets/classie.js"}
  /   %script{src: "assets/borderMenu.js"}


