!!!
%html
  %head
    %title FourthAndInches
    %meta{charset:"utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body{:class => "#{controller_name} #{action_name}"}
    :javascript
      Ajaxify.init( { active: false, scroll_to_top: false, flash_types: ['notice'] } );

    #branding-bar
      .brand
        Huddle24
    .app_nav_bar

      = nav_view_by_login_status

    .app-container-director
      #app-content-director

        #main.director-view
          %section.text-center
            .container
              .row
                .col-lg-12
            = yield















